[Unit]
Description=Check NEU ACM CF IP certificate renewal four times daily

[Timer]
OnCalendar=*-*-* 00,06,12,18:17:00
RandomizedDelaySec=30m
Persistent=true

[Install]
WantedBy=timers.target
